$("#new_joins_modal").
  html('').
  foundation("reveal", "close");
$("#success_modal").
  html('You Have Successfully Sgned Up').
  append('<a class=\"close-reveal-modal\">&#215;</a>').
  foundation("reveal", "open");
